/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 40px;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(0, 0%, 29%);
  --first-color-lighten: hsl(220, 68%, 97%);
  --title-color: #0f0f0f;
  --text-color: #000000;
  --hover-color : #606060;
  --body-color: #ffffff;
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Inter", sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
  
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
  
ul {
  list-style: none;
}
  
a {
  text-decoration: none;
}
  
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1200px;
  margin-inline: 1.5rem;
  margin: auto;
}

/* ====== Header ======== */
header{
  background-color: var(--body-color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #d3d3d3;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  background: var(--title-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.logo a img{
  width: 150px;
  align-self: center;
}

nav ul{
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li{
  margin-left: 20px;
  position: relative;
}

nav ul li a{
  color: var(--hover-color);
  text-decoration: none;
  padding: 20px 12px;
  display: block;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--text-color);
  cursor: pointer;
  background-color: #f3f3f3;
}


.gapper{
  justify-content: space-between;
  display: flex;
  width: 1200px;
  align-items: center;
}

.lgn-btn{
  color: #ffffff;
  text-decoration: var(--font-semi-bold);
  background-color: #c7b683;
  padding:10px 40px;
  border-radius: 5px ;
  border: none;
}

.lgn-btn:hover{
  background-color: #d5ac32;
}

/* ====== Footer ====== */
footer{
  background-color: var(--body-color);
  color: #b7b7b7;
  text-align: center;
  padding: 20px 0;
  margin: 10px 0;
  border-top: 1px solid #d3d3d3;
}
  
footer .social a{
  color: #b7b7b7;
  text-decoration: none;
  margin:0 5px;
  font-size: 16px;
}

/* ====== Index Page ========= */
#carousel{
  min-height: 100vh;
}
.gallery {
  margin-top: 105px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  height: 90vh;
}

.gallery li {
  min-width: 100vw; /* Each image fills the screen width */
  scroll-snap-align: center;
  flex-shrink: 0;
}

.gallery li img {
  width: 100vw;
  height: 100%;
  object-fit: cover; /* Use cover to fill space nicely */
  display: block;
  background-color: #000000;
}


.active {
	scroll-snap-type: unset;
}

/* About Us Page */

.about-section {
  background-color: var(--body-color);
  margin-top: 100px;
  height: 150vh;
}

.about-section .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.story {
  flex: 1;
  min-width: 300px;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-section .container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-section .container h2 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: #c7b683;
}

.about-section .container p {
  margin-top: 0.5rem;
  line-height: 1.6;
}

.about-section .gradient-text {
  background: #c5a43f;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


.team-list {
  list-style: none;
  margin-top: 1rem;
}

.team-list li {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

#about-sosmed{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
}

#about-sos-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: normal;
}

#about-sos-item a:link{
  color: black;
}

.about-sos-item{
  display: flex;
  flex-direction: row;
  gap: 5px;
}


.about-sos-item img{
  width: 20px;
}

#about-sosmed a{
  color: black;
}

.container img {
  display: flex;
  flex-direction: row;
  align-items: center;
}
  
